<div nz-row>
    <nz-spin [nzSpinning]="isSpinning">
  <div class="titleDiv" nz-col nzSpan="24"> 
    <span class="spanTitle">数据标签查询</span>
  </div>
  <div nz-col nzSpan="24" style="margin-top:10px;text-align: center">
    <h2>中国移动大数据标签</h2>
    <h4>查询可投放用户数</h4>
  </div>
  <div style="margin-top: 10px;" nz-col nzSpan="24">
    <form nz-form>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">性别</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <!-- <input nz-input id="email"> -->
          <nz-select style="-width: 120px;" [(ngModel)]="selectedSex" name="sex" nzAllowClear nzPlaceHolder="请选择性别">
            <nz-option [nzDisabled]="true" nzValue="0" nzLabel="男"></nz-option>
            <nz-option [nzDisabled]="true" nzValue="1" nzLabel="女"></nz-option>
            <nz-option nzValue="2" nzLabel="不限"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">年龄</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select style="-width: 120px;" [(ngModel)]="selectedAge" nzMode="multiple" name="age" nzAllowClear nzPlaceHolder="请选择年龄">
            <nz-option [nzDisabled]="true" nzValue="0" nzLabel="18-28"></nz-option>
            <nz-option [nzDisabled]="true" nzValue="1" nzLabel="29-38"></nz-option>
            <nz-option [nzDisabled]="true" nzValue="2" nzLabel="39-48"></nz-option>
            <nz-option [nzDisabled]="true" nzValue="3" nzLabel="49-58"></nz-option>
            <nz-option [nzDisabled]="true" nzValue="4" nzLabel="58以上"></nz-option>
            <nz-option nzValue="5" nzLabel="不限"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24">期限</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-select style="-width: 120px;" [(ngModel)]="selectedTime" name="time" nzAllowClear nzPlaceHolder="请选择期限">
              <nz-option nzValue="d42439c3-7936-4535-a40b-28c3a6925c61" nzLabel="一天"></nz-option>
              <nz-option nzValue="5b5c5e3a-2375-4a27-850b-f7eee0867b68" nzLabel="近三天"></nz-option>
              <nz-option nzValue="7433ec3e-25b1-4217-aa9d-815c09d128bb" nzLabel="一周"></nz-option>
              <nz-option nzValue="c7e131ef-164e-4202-954c-70a1937f48fe" nzLabel="近两周"></nz-option>
            </nz-select>
          </nz-form-control> 
        </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">归属地范围</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-radio-group [(ngModel)]="radioValue" (ngModelChange) = "locationChange($event)"  name="location1">
                <label nz-radio nzValue="4">全国</label>
                <label nz-radio nzValue="0">选择省</label>
                <label nz-radio nzValue="1">选择市</label>
                <label nz-radio nzValue="2">选择区</label> 
              </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="radioValue!='4'"> 
        <nz-form-label [nzSm]="6" [nzXs]="24">归属地</nz-form-label>
        <!-- (ngModelChange)="locationChange($event)" -->
        <nz-form-control *ngIf="radioValue=='0'"  [nzSm]="14" [nzXs]="24">
            <nz-cascader
            [(ngModel)]="location"
            nzPlaceHolder="请选择归属地"
            [nzLoadData]="loadData"
            name="location">
          </nz-cascader> 
        </nz-form-control>
        <nz-form-control *ngIf="radioValue=='1'" [nzSm]="14" [nzXs]="24">
          <nz-cascader
          [(ngModel)]="location"
          nzPlaceHolder="请选择省"
          [nzLoadData]="loadData"
          name="location"
          (ngModelChange)="onChanges($event)">
        </nz-cascader>
        <nz-select [(ngModel)]="selectCity" nzMode="multiple" name="selectCity" nzAllowClear nzPlaceHolder="请选择市">
            <nz-option *ngFor="let option of locationData" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
        </nz-select>
        </nz-form-control>
        <nz-form-control *ngIf="radioValue=='2'" [nzSm]="14" [nzXs]="24">
            <nz-cascader
            [(ngModel)]="location"
            nzPlaceHolder="请选择省市"
            [nzLoadData]="loadData"
            name="location"
            (ngModelChange)="onChanges($event)">
          </nz-cascader>
          <nz-select [(ngModel)]="selectCountry" nzMode="multiple" name="selectCountry" nzAllowClear nzPlaceHolder="请选择区">          
              <nz-option *ngFor="let option of locationData" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>            
          </nz-select>            
        </nz-form-control>
      </nz-form-item> 
      <nz-form-item *ngIf="appPermission">
        <nz-form-label [nzSm]="6" [nzXs]="24">APP</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select style="-width: 120px;" [(ngModel)]="selectedApp" (ngModelChange)="appChange($event)" name="app" nzAllowClear nzPlaceHolder="请选择行业">
            <nz-option *ngFor="let option of appOptions" [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="appPermission">
        <nz-form-label [nzSm]="6" [nzXs]="24"></nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select style="width: 100%" [(ngModel)]="multipleValueApp" name="childApp1" nzMode="multiple" nzPlaceHolder="请选择子行业">
            <nz-option *ngFor="let option of listOfAppOption" [nzLabel]="option.childName" [nzValue]="option.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="keyPermission">
        <nz-form-label [nzSm]="6" [nzXs]="24">关键字</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24"> 
            <nz-select style="-width: 120px;" [(ngModel)]="selectedKey" (ngModelChange)="keyChange($event)" name="key" nzAllowClear nzPlaceHolder="请选择关键字">
              <nz-option *ngFor="let option of keyOptions" [nzValue]="option.id" [nzLabel]="option.name"></nz-option>
            </nz-select>
          </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="keyPermission">
          <nz-form-label [nzSm]="6" [nzXs]="24"></nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-select style="width: 100%" [(ngModel)]="multipleValueKey" name="childApp2" nzMode="multiple" nzPlaceHolder="请选择内容">
              <nz-option *ngFor="let option of listOfKeyOption" [nzLabel]="option.childName" [nzValue]="option.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      <nz-form-item nz-row style="margin-bottom:8px;">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button [nzLoading]="btnLoading" (click)="messageQuery()" nz-button nzType="primary">查询</button>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">数据标签</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input style="width:200px;" [disabled]="true" [(ngModel)]="dataLabelCount" name="dataLabelCount" nz-input id="email">&nbsp;条
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24">投放方式</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-select style="width: 200px;" [(ngModel)]="selectedType" (ngModelChange)="selectChange($event)" name="type" nzAllowClear nzPlaceHolder="请选择投放方式">
                <nz-option nzValue="0" nzLabel="文字手机报"></nz-option>
                <nz-option nzValue="1" nzLabel="图文手机报"></nz-option>
                <nz-option nzValue="2" nzLabel="视频手机报"></nz-option>
                <nz-option nzValue="3" nzLabel="霸信"></nz-option>
                <nz-option nzValue="4" nzLabel="闪信"></nz-option>
              </nz-select>
        </nz-form-control>  
      </nz-form-item>
      <!-- <nz-form-item nz-row style="margin-bottom:8px;">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button (click)="confirmSend()" nz-button nzType="primary">确定</button>
          </nz-form-control>
        </nz-form-item> -->
    </form>
  </div>
  <div style="margin-top: 10px;" nz-col nzSpan="24">
      <form nz-form>
          <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24">本次发送数量</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <input [(ngModel)]="sendCount" name="count" nz-input style="width:200px">
              <button nz-button (click)="validateMessCount()" nzType="primary">导入号码</button>              
            </nz-form-control> 
          </nz-form-item>
          <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24">手机号码</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <div tabindex="-1" #scrollDiv id="scrollDiv" class="messContent" style="padding:10px 0px 10px 10px;">
                  <p *ngFor="let item of arr" style="margin:0;height: 30px;line-height: 30px">{{item}}</p>
                </div>
              </nz-form-control> 
          </nz-form-item> 
          <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24">添加号码</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24">
                  <textarea [nzAutosize]="{ minRows: 4, maxRows: 4 }" [(ngModel)]="phoneNumberTxt" name="phoneNumberTxt" nz-input placeholder="请输入号码，多个号码请以英文‘,’逗号隔开"></textarea>
              </nz-form-control>
          </nz-form-item>
          <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24">导入号码</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24">
                  <!-- <nz-upload [(nzFileList)]="fileList" [nzCustomRequest]="uploader" [nzAccept]="acceptType.txt">
                      <button nz-button>
                        <i class="anticon anticon-upload"></i>
                        <span>导入</span>
                      </button>
                      请使用.txt文件导入，每行一个号码
                  </nz-upload> -->
                  <button (click)="loadPhoneNumber()" nz-button nzType="primary">导入</button> 请使用.txt导入,每行一个号码。当前已导入{{importNumber}}个号码             
              </nz-form-control>
          </nz-form-item>
          <!-- 文字手机报 -->
          <nz-form-item *ngIf="selectedType=='0'">
              <nz-form-label [nzSm]="6" [nzXs]="24">发送内容</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24">
                  <textarea maxlength="70" [(ngModel)]="sendContent" name="content" [nzAutosize]="{ minRows: 6, maxRows: 6 }" nz-input placeholder="请输入短信内容,最多70个字"></textarea>
              </nz-form-control>
          </nz-form-item>
          <!-- 标题 -->
          <nz-form-item *ngIf="selectedType=='1'||selectedType=='2'">
            <nz-form-label [nzSm]="6" [nzXs]="24">标题</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <input [(ngModel)]="title" name="title" nz-input id="email">
            </nz-form-control>
        </nz-form-item>
          <!-- 图文手机报 -->
          <!-- <nz-form-item *ngIf="selectedType=='1'">
            <nz-form-label [nzSm]="6" [nzXs]="24">发送内容</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <textarea [nzAutosize]="{ minRows: 6, maxRows: 6 }" [(ngModel)]="sendContent" name="content"  nz-input placeholder="请输入短信内容,最多70个字"></textarea>
            </nz-form-control>
          </nz-form-item>  -->
          <nz-form-item [ngClass]="{'displayNone':selectedType!='1','displayBlock':selectedType=='1'}">
            <nz-form-label [nzSm]="6" [nzXs]="24">发送内容</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <div id="summernote"></div>
            </nz-form-control>
          </nz-form-item>
          <!-- 视频手机报 -->
          <!-- <nz-form-item *ngIf="selectedType=='2'">
            <nz-form-label [nzSm]="6" [nzXs]="24">发送内容</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <textarea [nzAutosize]="{ minRows: 6, maxRows: 6 }" [(ngModel)]="sendContent" name="video" nz-input placeholder="请输入短信内容,最多70个字"></textarea>
            </nz-form-control>
          </nz-form-item> -->
          <!-- 闪信 -->
          <nz-form-item *ngIf="selectedType=='4'">
            <nz-form-label [nzSm]="6" [nzXs]="24">发送内容</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <textarea maxlength="59" [nzAutosize]="{ minRows: 6, maxRows: 6 }" [(ngModel)]="sendContent" name="content" nz-input placeholder="请输入短信内容,最多59个字"></textarea>
            </nz-form-control>
          </nz-form-item>
          <!-- 霸信 -->
          <nz-form-item *ngIf="selectedType=='3'">
            <nz-form-label [nzSm]="6" [nzXs]="24">发送内容</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24">
                <textarea maxlength="59" [nzAutosize]="{ minRows: 6, maxRows: 6 }" [(ngModel)]="sendContent" name="content" nz-input placeholder="请输入短信内容,最多59个字"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item *ngIf="selectedType=='2'">
              <nz-form-label *ngIf="selectedType=='1'" [nzSm]="6" [nzXs]="24">上传图文内容</nz-form-label>
              <nz-form-label *ngIf="selectedType=='2'" [nzSm]="6" [nzXs]="24">上传视频内容</nz-form-label>              
              <nz-form-control [nzSm]="14" [nzXs]="24">
                  <nz-upload *ngIf="selectedType=='2'" [(nzFileList)]="fileList" [nzSize]="1024" [nzCustomRequest]="uploader" [nzAccept]="acceptType.video">
                    <button nz-button>
                      <i class="anticon anticon-upload"></i>
                      <span>选择</span> 
                    </button>
                </nz-upload>
              </nz-form-control>
          </nz-form-item>
          <nz-form-item nz-row style="margin-bottom:8px;">
            <nz-form-control [nzSpan]="14" [nzOffset]="6">
              <button nz-button (click)="sendMessage()" nzType="primary">发送</button>&nbsp;
              <button nz-button (click)="sendLoadNumber()" [routerLink]="['../recharge']" [queryParams]="{flag:true}" nzType="default">下载号码</button>
            </nz-form-control>
          </nz-form-item>
        </form>
  </div>
  <input type="file" ng-model="my_file" id="my_file" style="display: none;">
</nz-spin>
</div>