.bg{
    background-image: url('../../assets/image/bg.jpg');
    height: 100%;
    background-size: cover;
}
.logoBg{
    width: 427px;
    margin: 0 auto;
    padding: 10px 20px;
    /* background-color:rgb(255,255,255,0.9); */
    background-color:rgb(255,255,255);
    text-align: center;
}