.content{
    background-color: #f0f2f5;
    height: 100%;
}
.content .head{
    height: 50px;
    line-height: 50px;
    background-color: #001529;
    // margin-left: 240px;
    text-align: right;
    padding-right: 20px;
}
.content .main{
    // margin-left: 240px;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 8px 16px !important;
}