.bg{
    background: url('../../assets/image/zw_69.jpg') no-repeat center;
    height: 100%;
    padding-top: 100px;
    .content{
        width: 70%;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 5px;
        height: 100%;
        margin: 0 auto;
        padding: 20px;
    }
}